header{
    background-color: #fff;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

header ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
}